{% extends "base.html" %}

{% block title %}{{ AUTHORS_HEAD_TITLE }} - {{ SITENAME }}{% endblock title %}
{% block meta_desc %}
    {% if AUTHORS_HEAD_DESCRIPTION and AUTHORS_HEAD_DESCRIPTION != '' %}
        <meta name="description" content="{{ AUTHORS_HEAD_DESCRIPTION|striptags }}" />
    {% else %}
        {{ super() }}
    {% endif %}
{% endblock meta_desc %}


{% block subheader %}
    <h2 class="subheader-title">{{ AUTHORS_SUBHEADER_TITLE }}</h2>
    {% if AUTHORS_SUBHEADER_SUBTITLE and AUTHORS_SUBHEADER_SUBTITLE != '' %}
        <p class="subheader-subtitle">{{ AUTHORS_SUBHEADER_SUBTITLE }}</p>
    {% endif %}
{% endblock subheader %}

{% block content %}
    <div class="authors">
    	{% for author, articles in authors|sort %}
        <h2><a href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a></h2>
        {% include 'partials/article-list.html' %}
        {% endfor %}
    </div>
{% endblock content %}
