{% extends "base.html" %}

{% block title %}{{ AUTHOR_HEAD_TITLE }} {{ author }} - {{ SITENAME }}{% endblock title %}

{% block meta_desc %}
    {% if AUTHOR_HEAD_DESCRIPTION and AUTHOR_HEAD_DESCRIPTION != '' %}
        <meta name="description" content="{{ AUTHOR_HEAD_DESCRIPTION|striptags }}" />
    {% else %}
        {{ super() }}
    {% endif %}
{% endblock meta_desc %}


{% block subheader %}
    <h2 class="subheader-title">{{ author }}</h2>
    {% if AUTHOR_SUBHEADER_SUBTITLE and AUTHOR_SUBHEADER_SUBTITLE != ''%}
        <p class="subheader-subtitle">{{ AUTHOR_SUBHEADER_SUBTITLE }}</p>
    {% endif %}
{% endblock subheader %}

{% block content %}
    <div class="author">
        <h2>{{ AUTHOR_CONTENT_TITLE }}: {{ author }} {% if articles_page and articles_page.has_previous() %}<small>- page {{ articles_page.number }}</small>{% endif %}</h2>
        {% include 'partials/articles.html' %}
    </div>
{% endblock content %}
