{% extends "base.html" %}

{% block title %}{{ CATEGORY_HEAD_TITLE }} {{ category|capitalize }} - {{ SITENAME }}{% endblock title %}

{% block meta_desc %}
    <meta name="description" content="{{ CATEGORY_HEAD_DESCRIPTION|striptags }} {{category|capitalize }}" />
{% endblock meta_desc %}

{% block meta_keys %}
    <meta name="keywords" content="{{ SITETAGS|join(',')|striptags }},{{ category }}" />
{% endblock meta_keys %}


{% block subheader %}
    <h2 class="subheader-title">{{ CATEGORY_SUBHEADER_TITLE }} : {{ category.shortname|capitalize }}</h2>
    {% if CATEGORY_SUBHEADER_SUBTITLE and CATEGORY_SUBHEADER_SUBTITLE != '' %}
        <p class="subheader-subtitle">{{ CATEGORY_SUBHEADER_SUBTITLE }} "{{ category.shortname|capitalize }}"</p>
    {% endif %}
{% endblock subheader %}

{% block content %}
    <div class="category">
        {% if category.subcategories %}
            <h2>{{CATEGORY_SUBCATEGORIES_TITLE}}</h2>
            <ul class="list-unstyled">
            {% for subcat in category.subcategories %}
                <li><a href="{{ SITEURL }}/{{subcat.url}}">{{subcat.shortname|capitalize}}</a></li>
            {% endfor %}
            </ul>
        {% endif %}
        <h2>{{ CATEGORY_ARTICLES_TITLE }} {% if articles_page and articles_page.has_previous() %}<small>- page {{ articles_page.number }}</small>{% endif %}</h2>
        {% include 'partials/articles.html' %}
    </div>
{% endblock content %}
