{% extends "base.html" %}

{% block title %}{{ CATEGORIES_HEAD_TITLE }} - {{ SITENAME }}{% endblock title %}
{% block meta_desc %}
    {% if CATEGORIES_HEAD_DESCRIPTION and CATEGORIES_HEAD_DESCRIPTION != '' %}
        <meta name="description" content="{{ CATEGORIES_HEAD_DESCRIPTION|striptags }}" />
    {% else %}
        {{ super() }}
    {% endif %}
{% endblock meta_desc %}


{% block subheader %}
    <h2 class="subheader-title">{{ CATEGORIES_SUBHEADER_TITLE }}</h2>
    {% if CATEGORIES_SUBHEADER_SUBTITLE and CATEGORIES_SUBHEADER_SUBTITLE != '' %}
    <p class="subheader-subtitle">{{ CATEGORIES_SUBHEADER_SUBTITLE }}</p>
    {% endif %}
{% endblock subheader %}

{% block content %}
    <div class="categories">
        <ul class="list-unstyled">
    	{% for category, articles in categories %}
            <li><a href="{{ SITEURL }}/{{ category.url }}">{{ category|capitalize }}</a></li>
        {% endfor %}
        </ul>
    </div>
{% endblock content %}

