{% extends "base.html" %}

{% block title %}{{ CATEGORY_HEAD_TITLE }} {{ category|capitalize }} - {{ SITENAME }}{% endblock title %}

{% block meta_desc %}
    <meta name="description" content="{{ CATEGORY_HEAD_DESCRIPTION|striptags }} {{category|capitalize }}" />
{% endblock meta_desc %}

{% block meta_keys %}
    <meta name="keywords" content="{{ SITETAGS|join(',')|striptags }},{{ category }}" />
{% endblock meta_keys %}


{% block subheader %}
    <h2 class="subheader-title text-uppercase">{{ CATEGORY_SUBHEADER_TITLE }} : {{ category|capitalize }}</h2>
    {% if CATEGORY_SUBHEADER_SUBTITLE and CATEGORY_SUBHEADER_SUBTITLE != '' %}
        <p class="subheader-subtitle">{{ CATEGORY_SUBHEADER_SUBTITLE }} "{{ category|capitalize }}"</p>
    {% endif %}
{% endblock subheader %}

{% block content %}
    <div class="category">
        <h2><a href="{{ SITEURL }}/{{ category.url }}">{{ category|capitalize }}</a></h2>
        {% include 'partials/article-list.html' %}
    </div>
{% endblock content %}
