{% extends "base.html" %}

{% block title %}{{ INDEX_HEAD_TITLE }} {% if articles_page.has_previous() %}- page {{ articles_page.number }} {% endif %}- {{ SITENAME }}{% endblock title %}

{% block subheader %}
    <h2 class="subheader-title">{{ INDEX_SUBHEADER_TITLE }}</h2>
    {% if INDEX_SUBHEADER_SUBTITLE and INDEX_SUBHEADER_SUBTITLE != '' %}
        <p class="subheader-subtitle">{{ INDEX_SUBHEADER_SUBTITLE }}</p>
    {% endif %}
{% endblock subheader %}

{% block content %}
    <div class="index">
        <h2>{{ INDEX_CONTENT_TITLE }} {% if articles_page and articles_page.has_previous() %}<small>- page {{ articles_page.number }}</small>{% endif %}</h2>
        {% include 'partials/articles.html' %}
    </div>
{% endblock content %}
