data/content/*
data/latex/*
publish/*
dev/*
data/latex/archive/*
pelican/pelicanconf.py
pelican/*langconf.py
pelican/publishconf.py
pelican/textconf.py
pelican/Makefile
pelican/*.pyc
pelican/header.conf
pelican/tmp/*
